{% include 'recipes/partials/head.html' %}

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a href="/">
                    <i class="fa-solid fa-utensils"></i>
                    <span>Recipes {{ name }}</span>
                </a>
            </h1>
        </div>
    </header>
</body>

</html>